# Reading Data 

* Try to read the files in the data folder in the current directory.
* Check and convert the data type of the columns if required. 
* Finally print some of the descriptive statistiscs from the load data such as - what is duration of observation period, standard deviation etc.
* Only use data till 2018.

In [1]:
import json
import requests
import numpy as np
import pandas as pd
import os, time, math
from datetime import *
import calendar
from scipy import stats
os.environ['TZ'] = 'Asia/Calcutta'
import matplotlib.pyplot as plt
from matplotlib import rc, rcParams
import seaborn as sns
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.graphics.tsaplots import plot_acf
import plotly.offline
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [5]:
df = pd.read_pickle('load_data.pkl')
print(df.shape)
df

(379863, 4)

                  datetime        date    load  tb
0      2008-05-01 00:00:00  2008-05-01  879.00   1
1      2008-05-01 00:15:00  2008-05-01  883.00   2
2      2008-05-01 00:30:00  2008-05-01  873.00   3
3      2008-05-01 00:45:00  2008-05-01  856.00   4
4      2008-05-01 01:00:00  2008-05-01  845.00   5
...                    ...         ...     ...  ..
379858 2019-02-28 22:45:00  2019-02-28  721.25  92
379859 2019-02-28 23:00:00  2019-02-28  699.64  93
379860 2019-02-28 23:15:00  2019-02-28  673.16  94
379861 2019-02-28 23:30:00  2019-02-28  652.60  95
379862 2019-02-28 23:45:00  2019-02-28  637.39  96

[379863 rows x 4 columns]

In [10]:
df8 = df.loc[df.year==2008].copy()
df9 = df.loc[df.year==2009].copy()
df10 = df.loc[df.year==2010].copy()
df11 = df.loc[df.year==2011].copy()
df12 = df.loc[df.year==2012].copy()
df13 = df.loc[df.year==2013].copy()
df14 = df.loc[df.year==2014].copy()
df15 = df.loc[df.year==2015].copy()
df16 = df.loc[df.year==2016].copy()
df17 = df.loc[df.year==2017].copy()
df18 = df.loc[df.year==2018].copy()

# Create some columns which can be used in future:
* WeekDay 
* Month 
* Year 
* Hour 
etc

In [11]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['week_day'] = df['datetime'].apply(lambda time: time.strftime("%A"))
df['week_number'] = df['datetime'].apply(lambda time: time.strftime("%V"))
df['day'] = df['datetime'].apply(lambda time: time.strftime("%j"))
df.head()

,datetime,date,load,tb,year,month,week_day,week_number,doy,day
0,2008-05-01 00:00:00,2008-05-01,879.0,1,2008,5,Thursday,18,122,122
1,2008-05-01 00:15:00,2008-05-01,883.0,2,2008,5,Thursday,18,122,122
2,2008-05-01 00:30:00,2008-05-01,873.0,3,2008,5,Thursday,18,122,122
3,2008-05-01 00:45:00,2008-05-01,856.0,4,2008,5,Thursday,18,122,122
4,2008-05-01 01:00:00,2008-05-01,845.0,5,2008,5,Thursday,18,122,122

# EDA

* It would be good to explore the load data by checking the distributions.
* What is YoY change in total load consumption?
* Does the weekly trend remain same across the years?

# Do the holidays affect the trend on a day basis?

- check the hourly usage pattern for Diwali as compared to others? You can start with the date '2011-10-26'.

# Let's Check for some Outliers

* First let's figure out which day has the higest daily consumption each year.
* Try to figure out the day when the load was minimum each year.
* Can you find any outliers in the data?

# Let's focus on creating some lagged features 

* Before we start you should consider at what granularity you want the model to work at!  Let's start with a hourly level model feature building and work with just 2011 data for this question.
* Merge the holidays file with the load data and have a new column for holiday.
* Check if there are any missing values in the above mentioned timeframe for the data?
* How will you deal with days which are holidays? Will you treat them as outliers?
* How will you decide which lagged parameters to take? Hint: Read about acf, pacf etc.

# Make dataframe model ready (Continue with the above df)

* Change the categorical columns using encoding you learned. 
* Scale the variables.
* Observe the results by training on first 11 months of 2011 and predicting on Decemeber, 2011